<!DOCTYPE html>
<html>

{% include head.html %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/prism.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/documentation.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/lib/codemirror/codemirror.css"> -->
</head>

<body class="documentation">
  {% include navbar.html %}

  <div id="sidebar-wrapper">

    <ul class="sidebar-nav navigation level-1" id="menu">
 
      <li class="hidden-md hidden-lg home-link"><a href="/">Shoutem 开发者</a></li>

      <!-- Extensions -->
      <li>
        <a class="menu-group-title" href="{{ site.baseurl }}/docs/extensions/getting-started/introduction">Shoutem 扩展</a>
        <ul id="extensions" class="menu-group-wrapper level-2">
          <!-- Getting started -->
          <li>
            <a class="menu-group-title" href="{{ site.baseurl }}/docs/extensions/getting-started/introduction">入门</a>
            <ul id="extensions-getting-started" class="menu-group-wrapper level-3">
              <li><a href="{{ site.baseurl }}/docs/extensions/getting-started/introduction">介绍</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/getting-started/development-environment">设置环境</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/getting-started/initializing-extension">配置扩展</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/getting-started/shortcut-and-screen">创建快照</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/getting-started/using-ui-toolkit">使用UI框架</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/getting-started/using-cloud-storage">使用云存储</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/getting-started/working-with-data">使用数据</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/getting-started/publish">提交程序</a></li>
            </ul>
          </li>
          <!-- Tutorials -->
          <li>
            <a class="menu-group-title" href="{{ site.baseurl }}/docs/extensions/tutorials/setting-local-environment">教程</a>
            <ul id="extensions-tutorials" class="menu-group-wrapper level-3">
              <li><a href="{{ site.baseurl }}/docs/extensions/tutorials/setting-local-environment">设置本地环境</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/tutorials/writing-a-theme">编写一个主题</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/tutorials/alternative-layouts">替代布局</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/tutorials/writing-settings-page">写入设置页面</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/tutorials/using-authentication">使用认证</a></li>
            </ul>
          </li>
          <!-- Reference -->
          <li>
            <a class="menu-group-title" href="{{ site.baseurl }}/docs/extensions/reference/extension">参考</a>
            <ul id="extensions-tutorials" class="menu-group-wrapper level-3">
              <li><a href="{{ site.baseurl }}/docs/extensions/reference/extension">扩展文件格式</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/reference/settings-types">设置类型</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/reference/theme-variables">主题变量</a></li>
              <li><a href="{{ site.baseurl }}/docs/extensions/reference/cli">CLI</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- UI toolkit -->
      <li>
        <a class="menu-group-title" href="{{ site.baseurl }}/docs/ui-toolkit/introduction">Shoutem UI 工具包</a>
        <ul id="ui-toolkit" class="menu-group-wrapper level-2">
          <!-- Introduction -->
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/introduction">介绍</a></li>
          <!-- Components -->
          <li>
            <a class="menu-group-title" href="{{ site.baseurl }}/docs/ui-toolkit/components/typography">组件</a>
            <ul id="ui-toolkit-components" class="menu-group-wrapper level-3">
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/typography">排版</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/navigation-bar">NavigationBar</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/dropdown-menu">DropDownMenu</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/list-view">ListView</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/grid-view">GridView</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/cards">Cards</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/dividers">Dividers</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/rows">Rows</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/tiles">Tiles</a></li>
              <!--<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/image-preview">ImagePreview</a></li>-->
              <!--<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/horizontal-pager">HorizontalPager</a></li>-->
              <!--<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/image-gallery">ImageGallery</a></li>-->
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/spinner">Spinner</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/buttons">Buttons</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/image">Image</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/icons">Icons</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/view">View</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/screen">Screen</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/touchable-opacity">TouchableOpacity</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/headers">Headers</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/overlay">Overlay</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/text-input">TextInput</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/video">Video</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/lightbox">Lightbox</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/rich-media">RichMedia</a></li>
            </ul>
          </li>
          <!-- Theme -->
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/theme/introduction">这个用途</a>
          </li>
          <!-- Animation -->
          <li>
            <a class="menu-group-title" href="{{ site.baseurl }}/docs/ui-toolkit/animation/introduction">动画</a>
            <ul id="ui-toolkit-animation" class="menu-group-wrapper level-3">
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/introduction">介绍</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/driver">Driver</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/fade-in">FadeIn</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/fade-out">FadeOut</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/zoom-in">ZoomIn</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/zoom-out">ZoomOut</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/parallax">Parallax</a></li>
              <li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/combining-animations">Combining Animations</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li id="signup-button-menu" class="menu-button-signup hidden-md hidden-lg"><a href="#signup" class="button-signup">保持通知</a></li>
      <li class="sidelink hidden-md hidden-lg"><a href="http://www.shoutem.com">主页</a></li>
      <li class="sidelink hidden-md hidden-lg"><a href="http://www.shoutem.com/about">关于</a></li>
      <li class="sidelink hidden-md hidden-lg"><a href="http://www.shoutem.com/legal">法律</a></li>
      <li class="sidelink hidden-md hidden-lg"><a href="http://www.shoutem.com/contact">联系</a></li>
    </ul>
  </div>

  <div id="wrapper">

    <div class="documentation-wrapper">
      <div id="documentation">
        <!-- It will work both on page and github markdown -->
        {{ content | replace: 'http://shoutem.github.io' : site.url }}
      </div>
    </div>

    <nav id="pager-wrapper">
      <ul class="pager">
        <li class="previous inactive"><a href="#"><span>Previous</span></a></li>
        <li class="next inactive"><a href="#"><span>Next</span></a></li>
      </ul>
    </nav>

  </div>

  <div class="mobile-menu-overlay">
    <div class="close-menu-overlay">
    </div>
  </div>

  {% include signup-modal.html %}

  <!-- <script src="{{ site.baseurl }}/lib/codemirror/codemirror.js"></script>
  <script src="{{ site.baseurl }}/lib/codemirror/mode/javascript/javascript.js"></script>
  <script src="{{ site.baseurl }}/lib/codemirror/mode/jsx/jsx.js"></script> -->

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/headroom.min.js"></script>
  <script src="{{ site.baseurl }}/js/flourish.js"></script>
  <script src="{{ site.baseurl }}/js/main.js"></script>
  <script src="{{ site.baseurl }}/js/docs.js"></script>
  <script src="{{ site.baseurl }}/js/prism.js" data-manual></script>
  {% include ga.html %}
</body>

</html>

