<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/home.css">
</head>

<body class="home">
  {% include navbar.html %}

  <div id="wrapper" class="home">      

    <div class="container-fluid">
      <div class="header row">
        <div class="main col-xs-12 with-arrow">
          <div class="shoutem-ani"></div> 
          <div class="header-wrapper with-image">

            <div class="header-text">
              <h1 class="main-heading">使用Shoutem<br/>增强你的<br/>React Native开发体验！</h1>
              <h2 class="sub-heading">使用Shoutem扩展<br>快速构建你的iOS、Android应用</h2>
            </div>

            {% include home-header-video.html %}

          </div>
        </div>
      </div>

      <div class="row blue-background section-step0 with-arrow">
        <div class="section narrow">
          <h2 class="section-header section-header--big">它是如何工作的？</h2>
          <ol class="flex-container steps">
            <li>
              <div class="step-title">步骤 1</div>
              <div class="step-button arrow-box"><span class="center-v">使用Shoutem来完成<br/>你应用的80%工作量</span></div>
            </li>
            <li>
              <div class="step-title">步骤 2</div>
              <div class="step-button arrow-box"><span class="center-v">使用React Native<br/>来自定义最后的20%</span></div>
            </li>
            <li>
              <div class="step-title">步骤 3</div>
              <div class="step-button publish-button"><span class="center-v">上线</span></div>
            </li>
          </ol>
          <div class="section-footer">开始使用Shoutem来创建你应用的80%部分，然后使用React Native来开发你所需的部分：</div>
        </div>
      </div>

      <div class="row section-step1 with-arrow">
        <div class="section wider">
          <h2 class="section-header">
            <span class="step-label"><strong>步骤 1</strong></span>
            创建应用的80%
          </h2>
          <h3 class="section-sub-header">
            我们已经构建了应用程序所需的大部分功能。
          </h3>
          <div class="row">
            <div class="col-sm-8 builder-image">
              <img src="img/image-builder@2x.png"></img>
            </div>
            <ul class="col-sm-3 bullet-points">
              <li><span class="bullet-icon a"></span><span class="bullet-text">20多个预构建模块</span></li>
              <li><span class="bullet-icon b"></span><span class="bullet-text">移动后端服务以及CMS系统</span></li>
              <li><span class="bullet-icon a"></span><span class="bullet-text">几十个可用的集成</span></li>
              <li class="integrations hidden-xs">
                <img src="img/image-modules-and-integrations.svg" alt="">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row blue-background section-step2">
        <div class="section wider">
          <h2 class="section-header">
            <span class="step-label"><strong>步骤 2</strong></span>
            添加魔法（剩余20％）
          </h2>
          <h3 class="section-sub-header">使用你创建核心应用的时间来进行创新</h3>
          <div class="row">
            <ul class="col-md-4 bullet-points">
              <li><span class="bullet-icon a"></span><span class="bullet-text">自定义内置扩展</span></li>
              <li><span class="bullet-icon b"></span><span class="bullet-text">编写自己的扩展</span></li>
              <li><span class="bullet-icon a"></span><span class="bullet-text">使用内置SDK</span></li>
              <li><span class="bullet-icon a"></span><span class="bullet-text">使用React Native进行驱动</span><span class="bullet-icon react"></span></li>
            </ul>
            <div class="col-sm-7 col-sm-offset-1 image-rn-code with-arrow">
              <img src="img/image-rn-code-combined@2x.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="row section-step3">
        <div class="section narrow">
          
          <div class="col-md-6">
            <h2 class="section-header">
              <span class="step-label"><strong>步骤 3</strong></span>
              Go live
            </h2>
            <h3 class="section-sub-header">在App Store和Google Play上同时发布应用程式。 将其余部分留给我们的自动化应用管理。</h3>
            <div class="bullets-wrapper">
              <ul class="bullet-points">
                <li><span class="bullet-icon a"></span><span class="bullet-text">发布到App Store和Google Play</span>
                </li>
                <li><span class="bullet-icon b"></span><span class="bullet-text">与您的用户进行互动</span></li>
                <li><span class="bullet-icon a"></span><span class="bullet-text">分析数据</span></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="row gray-background">
        <div class="section section-get-started">
          <h2 class="section-header section-header--big">立即开始使用</h2>
          <div class="flex-container">
            <a class="chapter" href="/docs/extensions/getting-started/introduction">
              <div class="chapter-image blue">
                <div class="getting-started-icon"></div>
              </div>
              <div class="chapter-content">
                <h3 class="chapter-category">教程</h3>
                <h4 class="chapter-title">入门</h4>
                <p class="chapter-description">通过三个简单的步骤创建您的第一个自定义Shoutem应用/扩展程序</p>
                <div class="chapter-time"><div class="time-icon"></div><span> 15 分钟 &nbsp;&#8226;&nbsp; 简单</span></div>
              </div>
            </a>
            <a class="chapter" href="http://shoutem.github.io/ui">
              <div class="chapter-image purple">
                <div class="ui-toolkit-icon"></div>
              </div>
              <div class="chapter-content">
                <h3 class="chapter-category">参考</h3>
                <h4 class="chapter-title">UI 工具包</h4>
                <p class="chapter-description">使用我们专业设计的UI组件来创建可自定义主题的RN应用</p>
              </div>
            </a>
            <a class="chapter" href="http://www.shoutem.com">
              <div class="chapter-image greyblue">
                <div class="shoutem-icon"></div>
              </div>
              <div class="chapter-content">
                <h3 class="chapter-category">探索</h3>
                <h4 class="chapter-title">Shoutem应用程序生成器</h4>
                <p class="chapter-description">Shoutem使任何人都可以用最小的操作来创建和管理漂亮的应用程序</p>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div id="mobile-menu-overlay" class="mobile-menu-overlay">
    <div class="close-menu-overlay"></div>
    <ul class="navigation">
      <li class="primary active"><a href="/">主页</a></li>
      <li class="primary">
        <a href="{{ site.baseurl }}/docs/extensions/getting-started/introduction">文档</a>
        <ul>
          <li><a href="{{ site.baseurl }}/docs/extensions/getting-started/introduction">Shoutem 扩展</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/introduction">Shoutem UI 工具包</a></li>
        </ul>
      </li>
      <li id="signup-button-menu" class="menu-button-signup"><a href="#signup" class="button-signup">保持通知</a></li>
      <li><a href="http://www.shoutem.com">主题</a></li>
          <li><a href="http://www.shoutem.com/about">关于</a></li>
          <li><a href="http://www.shoutem.com/legal">法律</a></li>
          <li><a href="http://www.shoutem.com/contact">联系</a></li>
    </ul>
  </div>

  {% include footer.html %}
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/animation.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/headroom.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
  {% include ga.html %}
</body>
</html>
